



      <div class="row">
        <div class="col-md-7">
	  <p><em>Points of interest around your query?</em></p>
        <p>
	  <%= params[:query] %> 
	</p>
	    <p><em> Distance from your query?</em></p>
	    <p>
	    <%= params[:distance] %> 
	    </p>

	    <ul>
	      <% @response['places'].each do |place| %>
	      <li> <%= link_to place['title'], place['url'] %>
	      <% end %>
	    </ul>
        </div>
      </div>

  


