



      <div class="row">
        <div class="col-md-7">
	  <p><em>Points of interest around your query?</em></p>
        <p>
	    <%= @results[:query] %> 
	    </p>
	    <p><em> Distance from your query?</em></p>
	    <p>
	    <%= @results[:distance] %> 
	    </p>
        </div>
      </div>

  


