


 
      
      <h1>Start your search!</h1>
    	<%= form_tag welcome_test_path do %>
      <%= text_field_tag :name %>
      <%= submit_tag 'Lookup', class: 'btn btn-default' %>
      <% end %>

      <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
    
     
  

 

        

